@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: dark --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary: #00cf5d;
  --color-secondary: #000;
  --color-base-100: #FFFFFF;
  --color-base-200: #F5F5F7;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  color-scheme: dark;
  --color-primary: #E3405F;
  --color-secondary: #fff;
  --color-base-100: #111A28;
  --color-base-200: #2A2A3C;

}


a.active {
  color: var(--color-primary);
}

/* input type number default arrow reset */
/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* logo css*/
.clip-hexagon {
  clip-path: polygon(25% 6.7%, 75% 6.7%,
      100% 50%, 75% 93.3%,
      25% 93.3%, 0% 50%);
}

html,
body {
  scroll-behavior: smooth;
}
